
<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include 'links.html.twig' %}

<head>
{% include 'adminheader.html.twig' %}

<body
	onload="piechart(); barchart();">
	<!-- tap on top start -->
	<div class="tap-top">
		<span class="lnr lnr-chevron-up"></span>
	</div>
	<!-- tap on tap end -->

	<!-- page-wrapper Start-->
	<div
		class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
		<!-- Page Header Start-->
		{% include 'pageheader.html.twig' %}
		<!-- Page Header Ends-->

		<!-- Page Body Start-->
			<div
			class="page-body-wrapper"> <!-- Page Sidebar Start-->
			{% include 'sidebar.html.twig' %}
			<!-- Page Sidebar Ends-->

			<!-- index body start -->
				<div class="page-body"> <div class="container-fluid">
					<div class="row m-0">
						<div
							class="col-12 p-0">
							<!-- Sign Up Section Start -->
							{% if error %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endif %}

							<div class="login-section">
								<div class="materialContainer">
									<form action="/adminregister" method="POST">
										<div class="box">

											<div class="login-title">
												<h2>Regisztráció</h2>
											</div>

											<div class="input">
												<label for="name">Név</label>
												<input type="text" name="name" id="name">

											</div>


											<div class="input">
												<label for="email">Email-cím</label>
												<input type="email" name="email" id="email">
												<span class="spin"></span>
											</div>


											<div class="">
												<h4 class="input" for="varos">Város</h4>
												<select class="form-select" name="varos" id="varos">
													{% for varos in varosok %}
														<option value="{{varos.id}}">{{varos.varosneve}}</option>

													{% endfor %}
												</select>

											</div>


											<div class="input">
												<label for="cim">Cím</label>
												<input type="text" name="cim" id="cim" placeholder="Utca név házszám ajtó">
												<span class="spin"></span>
											</div>


											<div class="input">
												<label for="telefon">Mobil Telefonszám</label>
												<input type="number " pattern=".{11}" name="telefon" id="telefon" required title="11 karakter hosszuságú legyen (06)">

											</div>
											<div class="input">
												<label for="password">Jelszó</label>
												<input type="password" name="password" id="password">
												<span class="spin"></span>
											</div>

											<div class="input">
												<label for="password1">Jelszó megerősítése</label>
												<input type="password" name="password1" id="password1">
												<span class="spin"></span>

												<span id="password-match"></span>
											</div>

											<div class="">
												<h5>Admin</h5>
												<input type="checkbox" id="admin" name="admin">
												<span class="spin"></span>


											</div>


											<!--	<div class="input">
																																																																										
																								<input type="password" name="password" id="password">
																								</div>
																									-->

											<div class="button login">
												<button onclick="checkPasswords()" type="submit">
													<span>Regisztráció</span>
													<i class="fa fa-check"></i>
												</button>

											</div>

										</form>

										<p>
											<a href="/login" class="theme-color">Már van fiókod?</a>
										</p>
									</div>
								</div>
							</div>
							<!-- Sign Up Section End -->
						</div>
					</div>


				</div>
				<!-- Container-fluid Ends-->


			</div>
			<!-- index body end -->
		</div>
		<!-- Page Body End -->
	</div>
	<!-- page-wrapper End-->

	<!-- Modal Start -->

	<!-- Modal End -->

	<!-- latest js --><script src="../App/public/template/back-end/assets/js/jquery-3.6.0.min.js"> </script>

	<!-- Bootstrap js -->
	<script src="../App/public/template/back-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

	<!-- feather icon js -->
	<script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather.min.js"></script>
	<script src="../App/public/template/back-end/assets/js/icons/feather-icon/feather-icon.js"></script>

	<!-- scrollbar simplebar js -->
	<script src="../App/public/template/back-end/assets/js/scrollbar/simplebar.js"></script>
	<script src="../App/public/template/back-end/assets/js/scrollbar/custom.js"></script>

	<!-- Sidebar jquery -->
	<script src="../App/public/template/back-end/assets/js/config.js"></script>

	<!-- tooltip init js -->
	<script src="../App/public/template/back-end/assets/js/tooltip-init.js"></script>

	<!-- Plugins JS -->
	<script src="../App/public/template/back-end/assets/js/sidebar-menu.js"></script>
	<script src="../App/public/template/back-end/assets/js/notify/bootstrap-notify.min.js"></script>
	<script src="../App/public/template/back-end/assets/js/notify/index.js"></script>

	<!-- Apexchar js -->
	<script src="../App/public/template/back-end/assets/js/chart/apex-chart/apex-chart1.js"></script>
	<script src="../App/public/template/back-end/assets/js/chart/apex-chart/moment.min.js"></script>
	<script src="../App/public/template/back-end/assets/js/chart/apex-chart/apex-chart.js"></script>
	<script src="../App/public/template/back-end/assets/js/chart/apex-chart/stock-prices.js"></script>
	<script src="../App/public/template/back-end/assets/js/chart/apex-chart/chart-custom1.js"></script>
	<script src="../App/public/template/back-end/assets/js/chart/apex-chart/chart.js"></script>


	<!-- customizer js -->
	<script src="../App/public/template/back-end/assets/js/customizer.js"></script>

	<!-- ratio js -->
	<script src="../App/public/template/back-end/assets/js/ratio.js"></script>

	<!-- Theme js -->
	<script src="../App/public/template/back-end/assets/js/script.js"></script>
</body></head></html>
