<!DOCTYPE html>
<html lang="en">

	<head>
		{% include 'links.html.twig' %}

	</head>

	<body
		class="theme-color2 light ltr">

		<!-- header start -->
		{% include 'header.html.twig' %}
		<!-- header end -->


		<!-- Breadcrumb section start -->
			<section class="breadcrumb-section section-b-space"> <ul class="circles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h3>INFO</h3>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="/allproduct">
										<i class="fas fa-home"></i>
									</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Rólunk</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb section end -->

		<!-- team leader section Start -->
		<section class="overflow-hidden">
			<div class="container">
				<div class="row g-5">
					<div class="col-xl-5 offset-xl-1">
						<div class="row g-3">
							<div class="col-md-6">
								<img src="/App/Public/template/front-end/assets/images/inner-page/review-image/6.jpg" class="img-fluid rounded-3 about-image" alt="">
							</div>
							<div class="col-md-6">
								<img src="/App/Public/template/front-end/assets/images/inner-page/review-image/7.jpg" class="img-fluid rounded-3 about-image" alt="">
							</div>
							<div class="col-12 ratio_40">
								<div>
									<img src="/App/Public/template/front-end/assets/images/inner-page/review-image/8.jpg" class="img-fluid rounded-3 team-image bg-img" alt="">
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-5">
						<div class="about-details">
							<div>
								<h2>Mi a célunk?</h2>
								<h3>100% ban eredeti cipők mindenki számára</h3>
								<p>A cél minél több emberhez eljuthassanak a cipőink a leggyorsabban a megjelenés után a legkevesebb idő alatt, ne maradjon ki senki az aktuális collabokból és új megjelenésekből.
								</p>
								<p>Egyaránt lehetőség van online rendelésre és személyes átvételre ahol így megtekinthető akár felpróbálható a választott cipő ellentétbe sok másik oldallal.
								</p>
								<button onclick="location.href = '/allproduct';" type="button" class="btn btn-solid-default">Termékek</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- team leader section End -->

		<!-- service section start -->
		<section class="service-section about-page service-style-2 section-b-space">
			<div class="container">
				<div class="row g-4 g-sm-3">
					<div class="col-xl-3 col-sm-6">
						<div class="service-wrap">
							<div class="service-icon"></div>
							<div class="service-content">
								<h3 class="mb-2">Segítünk ahol tudunk</h3>
								<span class="font-light">A legjobbat szeretnénk minden vásárlónknak</span>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-sm-6">
						<div class="service-wrap">
							<div class="service-icon"></div>
							<div class="service-content">
								<h3 class="mb-2">Személyes átvétel</h3>
								<span class="font-light">Mindenki számára kényelmes megoldás</span>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-sm-6">
						<div class="service-wrap">
							<div class="service-icon"></div>
							<div class="service-content">
								<h3 class="mb-2">100%-ban eredeti termékek</h3>
								<span class="font-light">Csak a márka által forgalmazott eredeti termékek.</span>
							</div>
						</div>
					</div>


				</div>
			</div>
		</section>
		<!-- service section end -->

		<!-- Leader section start -->
		<section class="section-b-space team-leader-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="title title1 text-center">
							<h2>BoroPlug csapata</h2>
							<p>A BoroPlug sneaker resell oldal 2020 indult az Instagramon amit 3 fiatal vezetett, elég gyorsan elérte a közel 10 ezres követő tábort és napi több eladást .
							</p>
						</div>
					</div>
				</div>
				<div class="product-wrapper leader-section slick-lg-space slide-5_1 ratio_asos">


					<div>
						<div class="leader-contain">
							<div class="leader-image">
								<img src="/App/Public/template/front-end/assets/images/inner-page/review-image/hudomietandras.jpg" class="img-fluid " alt="">
								<ul class="social-media">
									<li>
										<a href="https://www.facebook.com/masz.szor">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>

									<li>
										<a href="https://www.instagram.com/hudomiet.andras/?next=%2F">
											<i class="fab fa-instagram"></i>
										</a>
									</li>


								</ul>
							</div>
							<div class="leader-contain">
								<h3>Hudomiet András</h3>
								<h6>Társ alapító</h6>
							</div>
						</div>
					</div>


					<div>
						<div class="leader-contain">
							<div class="leader-image">
								<img src="/App/Public/template/front-end/assets/images/inner-page/review-image/hertelbalint.jpg" class="img-fluid " alt="">
								<ul class="social-media">
									<li>
										<a href="https://www.facebook.com/hertel.balintkettopontnulla.9">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>

									<li>
										<a href="https://www.instagram.com/hertelbalint/?next=%2F">
											<i class="fab fa-instagram"></i>
										</a>
									</li>


								</ul>
							</div>
							<div class="leader-contain">
								<h3>Hertel Bálint</h3>
								<h6>Alapító / Tulajdonos</h6>
							</div>
						</div>
					</div>

					<div>
						<div class="leader-contain">
							<div class="leader-image">
								<img src="/App/Public/template/front-end/assets/images/inner-page/review-image/akoska.jpg" class="img-fluid " alt="">
								<ul class="social-media">
									<li>
										<a href="https://www.facebook.com/akos.schiffer">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>

									<li>
										<a href="https://www.instagram.com/akos._.schiffer/?next=%2F">
											<i class="fab fa-instagram"></i>
										</a>
									</li>


								</ul>
							</div>
							<div class="leader-contain">
								<h3>Schiffer Ákos</h3>
								<h6>Társ alapító / Társ tulajdonos</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- leader section End -->
		<!-- theme Setting Start -->
		<div class="theme-setting">
			<ul>
	<li>
		<button id="darkButton" class="btn btn-sm ">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewbox="0 0 16 16">
			<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
			<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
		</svg>
		</button>
	</li>


</ul>
		</div>
		<!-- theme Setting StaEndrt -->


		<!-- footer start -->
		{% include 'footer.html.twig' %}
		<!-- footer end -->


		<!-- tap to top Section Start -->
			<div class="tap-to-top"> <a href="#home">
				<i class="fas fa-chevron-up"></i>
			</a>
		</div>
		<!-- tap to top Section End -->

		<div class="bg-overlay"></div>

		<!-- latest jquery-->
		<script src="/App/Public/template/front-end/assets/js/jquery-3.5.1.min.js"></script>

		<!-- Add To Home js -->
		<script src="/App/Public/template/front-end/assets/js/pwa.js"></script>

		<!-- Bootstrap js -->
		<script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

		<!-- feather icon js -->
		<script src="/App/Public/template/front-end/assets/js/feather/feather.min.js"></script>

		<!-- lazyload js -->
		<script src="/App/Public/template/front-end/assets/js/lazysizes.min.js"></script>

		<!-- Slick js -->
		<script src="/App/Public/template/front-end/assets/js/slick/slick.js"></script>
		<script src="/App/Public/template/front-end/assets/js/slick/slick-animation.min.js"></script>
		<script src="/App/Public/template/front-end/assets/js/slick/custom_slick.js"></script>

		<!-- notify js -->
		<script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap-notify.min.js"></script>

		<!-- script js -->
		<script src="/App/Public/template/front-end/assets/js/theme-setting.js"></script>
		<script src="/App/Public/template/front-end/assets/js/script.js"></script>
		<script src="/App/Public/template/front-end/assets/js/home-script.js"></script>

	</body>

</html>
