<!DOCTYPE html>
<html lang="en">

	{% include 'links.html.twig' %}

<body class="theme-color2 light ltr">

    <!-- header start -->
    {% include 'header.html.twig' %}
    <!-- header end -->

    <!-- mobile fix menu start -->
   
    <!-- mobile fix menu end -->

    <!-- Breadcrumb section start -->
    <section class="breadcrumb-section section-b-space">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>404</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">404</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb section end -->

    <!-- 404 Section Start -->
    <section class="page-not-found section-b-space">
        <div class="container">
            <div class="row gx-md-2 gx-0 gy-md-0 gy-3">
                <div class="col-md-8 m-auto">
                    <div class="page-image">
                        <img src="/App/Public/template/front-end/assets/images/inner-page/404.png" class="img-fluid blur-up lazyload" alt="">
                    </div>
                </div>

                <div class="col-md-8 mx-auto mt-md-5 mt-3">
                    <div class="page-container pass-forgot">
                        <div>
                            <h2>Nem található</h2>
                            <p>A felkeresett oldal nem elérhető vagy nincs megjeleníthető termék.</p>
                            <a href="/allproduct" class="btn btn-solid-default">Főoldal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 404 Section End -->

    

    <!-- footer start -->
   {% include 'footer.html.twig' %}
    <!-- footer end -->

    <!-- theme Setting Start -->
		<div class="theme-setting">
			<ul>
	<li>
		<button id="darkButton" class="btn btn-sm ">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewbox="0 0 16 16">
			<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
			<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
		</svg>
		</button>
	</li>


</ul>
		</div>
		<!-- theme Setting StaEndrt -->

    

    <!-- tap to top Section Start -->
    <div class="tap-to-top">
        <a href="#home">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <!-- tap to top Section End -->

    <div class="bg-overlay"></div>

    <!-- latest jquery-->
    <script src="/App/Public/template/front-end/assets/js/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/App/Public/template/front-end/assets/js/feather/feather.min.js"></script>

    <!-- lazyload js -->
    <script src="/App/Public/template/front-end/assets/js/lazysizes.min.js"></script>

    <!-- Add To Home js -->
    <script src="/App/Public/template/front-end/assets/js/pwa.js"></script>

    <!-- Slick js -->
    <script src="/App/Public/template/front-end/assets/js/slick/slick.js"></script>
    <script src="/App/Public/template/front-end/assets/js/slick/slick-animation.min.js"></script>
    <script src="/App/Public/template/front-end/assets/js/slick/custom_slick.js"></script>

    <!-- notify js -->
    <script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- script js -->
    <script src="/App/Public/template/front-end/assets/js/theme-setting.js"></script>
    <script src="/App/Public/template/front-end/assets/js/script.js"></script>
    <script src="/App/Public/template/front-end/assets/js/home-script.js"></script>

</body>

</html>