<!DOCTYPE html>
<html lang="en"></html>

{% include 'links.html.twig' %}

<body class="theme-color2 light ltr">

	<!-- header start -->

	<!-- header end -->
	<!-- mobile fix menu start -->
	{% include 'header.html.twig' %}
	<!-- mobile fix menu end -->


	<!-- Breadcrumb section start -->
		<section class="breadcrumb-section section-b-space"> <ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

	</section>
	<!-- Breadcrumb section end -->

	<!-- FAQ Section Start -->
	<section class="faq-section pt-0">
		<div class="container">
			<div class="row g-lg-5 g-4">

				<div class="col-md-6 zi-1">
					<div class="faq-contain">
						<div class="faq-image">
							<img src="/App/Public/template/front-end/assets/images/inner-page/faq/guides.png" class="img-fluid blur-up lazyload" alt="">
						</div>
						<h2>GYIK</h2>
						<br>
						<h5>Gyakran ismételt kérdések.</h5>
					</div>
				</div>
				<div class="col-md-6 zi-1">
					<div class="faq-contain">
						<div class="faq-image">
							<img src="/App/Public/template/front-end/assets/images/inner-page/faq/faq.png" class="img-fluid blur-up lazyload" alt="">
						</div>
						<h2>Általános</h2>
						<br>
						<h5>Általános tudnivalók a weboldalról és a forgalmazott termékeinkről.</h5>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- FAQ Section End -->

	<!-- FAQ details start -->
	<section class="faq-details section-b-space">
		<div class="container">
			<div class="row g-4">
				<div class="col-md-4">
					<div class="faq-link-box">
						<ul>
							<li><a href="#1"><h4>1.</h4><h5>Hogyan működik?</h5></a></li>
							<li><a href="#2"><h4>2.</h4><h5>Eredetiség</h5></a></li>
							<li><a href="#3"><h4>3.</h4><h5>Honnan származnak a BoroPlugon kapható cipők?</h5></a></li>
							<li><a href="#4"><h4>4.</h4><h5>Rendelés</h5></a></li>
							<li><a href="#5"><h4>5.</h4><h5>Lemondás és Visszaküldés</h5></a></li>
							<li><a href="#6"><h4>6.</h4><h5>Ha részletes kérdésem van egy termékről, kihez fordulhatok?</h5></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-7 col-md-8">
					<div class="faq-heading" id="1">
						<i data-feather="help-circle" class="theme-color"></i>
						<div class="faq-option">
							<h3>Hogyan működik?</h3>
							<h6 class="font-light">Az oldalon lévő termékeket bárki 
																					megtekintheti és szabadon kereshet, azonban a rendelésre kizárólag regisztrált felhasználóknak van lehetősége.</h6>


							<h6 class="font-light">Két féle módon tudsz fizetni:<br>
								Az egyik a bankkártyás fizetés, ahol Ft-ban történik a tranzakció,
															 és a BoroPlug nem fér hozzá és nem tárolja banki 
															vagy kártya adataidat. Illetve titkosított, biztonságos módon történik .
							</h6>

							<h6 class="font-light">
								A másik az utánvét, ez azt jelenti hogy fizetésnél kiválasztod az utánvét opciót ,ennél  átvételkor kell 
															fizetned, kézbesítéskor készpénzben bagy bankkártyával. Az ország bármely részére szállítunk.
							</h6>
						</div>
					</div>

					<div class="faq-heading" id="2">
						<i data-feather="help-circle" class="theme-color"></i>
						<div class="faq-option">
							<h3>Eredetiség</h3>
							<h6 class="font-light">

								A BoroPlugon eredeti termékek taláhatóak?
																													                   Garantáljuk, hogy minden termék eredeti, több éves
																													                    tapasztalat áll mögöttünk, az ímént említett tapasztalatnak 
																													                    köszönhetően széles ismerettségi körrel rendelkezünk 
																													                    ami azt eredményezi, hogy kizárólag eredeti sneakereket 
																													                    szerzünk be, melyek visszakövethetők az 
																													                    első értékesítésig.</h6>
						</div>
					</div>

					<div class="faq-heading" id="3">
						<i data-feather="help-circle" class="theme-color"></i>
						<div class="faq-option">
							<h3>Honnan származnak a BoroPlugon kapható cipők?</h3>
							<h6 class="font-light">A világ minden pontjáról vannak megbízható partnereink
																													                             kapcsolatrendszerünknek hála, akik kizárólag eredeti cipőkkel foglalkoznak.
							</h6>
						</div>
					</div>

					<div class="faq-heading" id="4">
						<i data-feather="help-circle" class="theme-color"></i>
						<div class="faq-option">
							<h3>Rendelés</h3>
							<h6 class="font-light">
								Miután megvásároltad a kívánt terméket, kapsz arról
															 egy visszaigazoló E-mailt.</h6>


							<h6 class="font-light">A BoroPlug-on minden termék készleten van?</h6>

							<h6 class="font-light">A webshopban a termékek budapesti raktárunkban, vagy külföldi partnereinknél
															 készleten vannak, a termékek elérhetősége látható az oldalon is, azonban a nem rendelhető termékek is megjelenhetnek 
															az oldalon azonban ezek nem rendelhetőek.</h6>

							<h6 class="font-light">A rendelésed után minden esetben ellenőrizzük a 
															termék tényleges elérhetőségét, mert - mint minden webshopban
															nálunk is előfordulhat készlethiány. Ezért a BoroPlug a rendelés 
															lehetőségének törlését akár több munkanap után is fennttartja. 
															Természetesen 100%-ban
															 visszatérítésre kerül a rendelésed összege.</h6>

							<h6 class="font-light">Mennyi időt vesz igénybe a kiszállítás?</h6>

							<h6 class="font-light">Garantálni nem tudjuk a pontos időt, a külföldi partnereinktől érkező cipőknél mindenképpen hosszabb idővel kell számolni.
															Az átlagos szállitási idő 2-14 munkanapig tart.</h6>
						</div>
					</div>

					<div class="faq-heading" id="5">
						<i data-feather="help-circle" class="theme-color"></i>
						<div class="faq-option">
							<h3>Lemondás és Visszaküldés</h3>
							<h6 class="font-light">
								A webshopon rendelt termékeket az átvételtől számított 14 naptári
																					 napon belül indoklás nélkül lemondhatod, ez a hatályos törvények által biztosított elállási jogod.</h6>
							<h6 class="font-light">
								Az elállást a Boroplug@Gmail.Com E-mail címen tudod jelezni a rendelésszámod 
															megadásával. A rendelt terméket saját költségre és felelősségre tudod visszaküldeni.</h6>

							<h6 class="font-light">Ne hordd a megrendelt terméket, mert csak hordatlan, 
															újraértékesítésre alkalmas állapotú terméket tudunk visszavenni.</h6>

							<h6 class="font-light">Ha lemondanád a rendelést, akkor azt minél előbb,
															 lehetőség szerint a kiküldés előtt tedd meg, így a becsomagolás és kiküldés már nem történik meg.</h6>


						</h6>
					</div>
				</div>

				<div class="faq-heading" id="6">
					<i data-feather="help-circle" class="theme-color"></i>
					<div class="faq-option">
						<h3>Ha részletes kérdésem van egy termékről, kihez fordulhatok?</h3>
						<h6 class="font-light">Fontosnak tartjuk, hogyha bármilyen kérdésed van például
																				 milyen méretet rendelj egy adott cipőből stb, bátran fordulj hozzánk segitségért amit 
																				 nyugodtan írj meg privát üzenetben a<a href="https://instagram.com/boro_plug?igshid=YmMyMTA2M2Y=" target="_blank">
								@boro_plug</a>
							<a href="https://instagram.com/boro_plug?igshid=YmMyMTA2M2Y=" target="_blank">
								<img src="/App/Public/template/front-end/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload" alt="Instagram">
								Instagram
							</a>
							oldalunkon, ahol a lehető leggyorsabban, és leghatékonyabban fogunk neked megválaszolni.</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</body></section><!-- FAQ details end --><!-- theme Setting Start -->
<div class="theme-setting">
<ul>
	<li>
		<button id="darkButton" class="btn btn-sm ">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewbox="0 0 16 16">
				<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
				<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
			</svg>
		</button>
	</li>


</ul>
</div>
<!-- theme Setting StaEndrt -->{% include 'footer.html.twig' %}<!-- tap to top Section Start --><div class="tap-to-top">
<a href="#home">
	<i class="fas fa-chevron-up"></i>
</a></div><!-- tap to top Section End --><div class="bg-overlay"></div><!-- latest jquery--><script src="/App/Public/template/front-end/assets/js/jquery-3.5.1.min.js"></script><!-- Add To Home js --><script src="/App/Public/template/front-end/assets/js/pwa.js"></script><!-- Bootstrap js--><script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap.bundle.min.js"></script><!-- feather icon js--><script src="/App/Public/template/front-end/assets/js/feather/feather.min.js"></script><!-- lazyload js--><script src="/App/Public/template/front-end/assets/js/lazysizes.min.js"></script><!-- Slick js--><script src="/App/Public/template/front-end/assets/js/slick/slick.js"></script><script src="/App/Public/template/front-end/assets/js/slick/slick-animation.min.js"></script><script src="/App/Public/template/front-end/assets/js/slick/custom_slick.js"></script><!-- Notify js--><script src="/App/Public/template/front-end/assets/js/bootstrap/bootstrap-notify.min.js"></script><!-- script js --><script src="/App/Public/template/front-end/assets/js/theme-setting.js"></script><script src="/App/Public/template/front-end/assets/js/script.js"></script><script src="/App/Public/template/front-end/assets/js/home-script.js"></script></body></html>
