<!-- footer start -->
		<footer class="footer-sm-space">
			<div class="main-footer">
				<div class="container">
					<div class="row gy-4">
						<div class="col-xl-3 col-lg-4 col-md-6">
							<div class="footer-contact">
								<div class="brand-logo">
									<a href="/allproduct" class="footer-logo">
										<svg class="svg-icon">
											<use class="fill-color" xlink:href="assets/svg/icons.svg#logo"></use>
										</svg>
										<img src="/App/Public/template/front-end/assets/images/logos/boropluglogo.jpg" style="width:8rem" class="img-fluid blur-up lazyload" alt="logo">
									</a>
								</div>

								<ul class="contact-lists">
									<li>
										<span>
											<b>Telefon:</b>
											<span class="font-light">
												06 90 123 4567</span>
										</span>

									</li>
									<li>
										<span>
											<b>Címünk:</b>
											<span class="font-light">
												<a target="blank" href="https://www.google.com/maps/place/V%C3%A1c,+Kossuth+t%C3%A9r+1,+2600/data=!4m2!3m1!1s0x47402aec70c3bfdb:0xae043ce12e29064f?sa=X&ved=2ahUKEwikxJzpqPH8AhXjmIsKHaGHCxIQ8gF6BAgIEAI">Vác, Kossuth tér 1, 2600</a></span>
										</span>
									</li>
									<li>
										<span>
											<b>Email:</b>
											<span class="font-light">
												boroplug.info@gmail.com</span>
										</span>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="footer-links">
								<div class="footer-title">
									<h3>BoroPlug</h3>
								</div>
								<div class="footer-content">
									<ul>
										<li><a href="/allproduct" class="font-dark">Kezdőlap</a></li>
										<li><a href="/aboutUs" class="font-dark">Rólunk</a></li>
										<li><a href="/faq" class="font-dark">GYIK</a></li>
										<li><a href="/contact" class="font-dark">Kapcsolat</a></li>
                                     
										<li><a href="/profilData" class="font-dark">Fiókom</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="footer-links">
								<div class="footer-title">
									<h3>Kategoriak</h3>
								</div>
								<div class="footer-content">
									<ul>
										<li><a href="/allproduct" class="font-dark">Főoldal</a></li>
										<li><a href="/allproductadidas" class="font-dark">Adidas</a></li>
										<li><a href="/allproductnike" class="font-dark">Nike</a></li>
										<li><a href="/frogotten" class="font-dark">Nike Egyéb</a></li>
                                        <li><a href="/frogotten" class="font-dark">Adidas Egyéb</a></li>
										
									</ul>
								</div>
							</div>
						</div>

						

						<div class="col-xl-3 col-lg-4 col-sm-6 d-none d-sm-block">
							<div class="footer-newsletter">
								<h3>Ha problémája akadt<br> 06 90 123 4567</h3>
								<div class="footer-number">
									<div class="footer-number-image">
										<img src="/App/Public/template/front-end/assets/images/logos/boropluglogo.jpg" class="img-fluid blur-up lazyload"style="width:5rem" alt="">
									</div>

									<div class="footer-number-container">
										<h3>06 90 123 4567</h3>
									</div>
								</div>

								<div class="footer-details">
									<p class="font-light">Minden téren szívesen nyújt segítséget bármely kollégánk! Vegye fel velünk a kapcsolatot levélben, telefonon vagy akár privát üzenetben. A BoroPlug csapatának célja az elégedett vásárló és ennek ügyében mindenben szívesen segítenek. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sub-footer banner-style-2 offer-banner section-b-space team-leader-section">
				<div class="container">
					<div class="row gy-3">
						<div class="col-md-12 d-flex justify-content-center">
							<ul>
								<li class="font-dark"></li>
								<li>
									<a href="javascript:void(0)">
										<img src="/App/Public/template/front-end/assets/images/payment-icon/1.jpg" class="img-fluid blur-up lazyload" alt="payment icon"></a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<img src="/App/Public/template/front-end/assets/images/payment-icon/2.jpg" class="img-fluid blur-up lazyload" alt="payment icon"></a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<img src="/App/Public/template/front-end/assets/images/payment-icon/3.jpg" class="img-fluid blur-up lazyload" alt="payment icon"></a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<img src="/App/Public/template/front-end/assets/images/payment-icon/4.jpg" class="img-fluid blur-up lazyload" alt="payment icon"></a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<img src="/App/Public/template/front-end/assets/images/payment-icon/revolut.png" class="img-fluid blur-up lazyload" alt="payment icon"></a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->