<head>
	<link rel="manifest" href="./manifest.json">
	<link rel="icon" href="/App/Public/template/front-end/assets/images/logos/boropluglogo.jpg" type="image/x-icon">
	<link rel="apple-touch-icon" href="/App/Public/template/front-end/assets/images/logos/boropluglogo.jpg">
	<meta name="theme-color" content="#7520dd">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Voxo">
	<meta name="msapplication-TileImage" content="assets/images/favicon/4.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<script src="/App/Public/template/front-end/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/App/Public/template/front-end/assets/js/queryfilter.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Voxo">
	<meta name="keywords" content="Voxo">
	<meta name="author" content="Voxo">
	<link rel="icon" href="/App/Public/template/front-end/assets/images/logos/boropluglogo.jpg" type="image/x-icon"/>
	<title>BoroPlug.com</title>

	<!-- Google font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

	<!-- bootstrap css -->
	<link
	id="rtl-link" rel="stylesheet" type="text/css" href="/App/Public/template/front-end/assets/css/vendors/bootstrap.css">

	<!-- font-awesome css -->
	<link
	rel="stylesheet" type="text/css" href="/App/Public/template/front-end/assets/css/vendors/font-awesome.css">

	<!-- feather icon css -->
	<link
	rel="stylesheet" type="text/css" href="/App/Public/template/front-end/assets/css/vendors/feather-icon.css">

	<!-- Icon Start -->
	<link
	rel="icon" href="/App/Public/template/front-end/assets/images/shoes/png/001-hotel-service.png">

	<!-- SweetAlert -->

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

	<!-- animation css -->
	<link
	rel="stylesheet" type="text/css" href="/App/Public/template/front-end/assets/css/vendors/animate.css">

	<!-- slick css -->
	<link rel="stylesheet" type="text/css" href="/App/Public/template/front-end/assets/css/vendors/slick/slick.css">
	<link
	rel="stylesheet" type="text/css" href="/App/Public/template/front-end/assets/css/vendors/slick/slick-theme.css">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Theme css -->
	<link id="color-link" rel="stylesheet" type="text/css" href="/App/Public/template/front-end/assets/css/demo3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
