<div class="sidebar-wrapper">
	<div>
		<div class="logo-wrapper logo-wrapper-center">
			<a href="/diagrams" data-bs-original-title="" title="">
				<img class="img-fluid for-dark" style="width:5rem" src="../App\Public\template\front-end\assets\images\logos/boropluglogo.jpg" alt="">
			</a>
			<div class="back-btn">
				<i class="fa fa-angle-left"></i>
			</div>

		</div>
		<div class="logo-icon-wrapper">
			<a href="index.html"></a>
		</div>
		<nav class="sidebar-main">
			<div class="left-arrow" id="left-arrow">
				<i data-feather="arrow-left"></i>
			</div>

			<div id="sidebar-menu">
				<ul class="sidebar-links" id="simple-bar">
					<li class="back-btn"></li>


					<li class="sidebar-list">
						<a class="sidebar-link sidebar-title link-nav" href="/diagrams">
							<i data-feather="diagrams"></i>
							<span>Főoldal</span>
						</a>
					</li>

					<li class="sidebar-list">
						<a class="sidebar-link sidebar-title" href="javascript:void(0)">
							<i data-feather="users"></i>
							<span>Felhasználók</span>
						</a>
						<ul class="sidebar-submenu">
							<li>
								<a href="/alluserlist">Összes felhasználó</a>
							</li>
							
						</ul>
					</li>


					<li class="sidebar-list">
						<a class="sidebar-link sidebar-title" href="javascript:void(0)">
							<i data-feather="archive"></i>
							<span>Rendelések</span>
						</a>
						<ul class="sidebar-submenu">
							<li>
								<a href="/orderlist">Rendelések listázás</a>
							</li>

						</ul>
					</li>


				</li>

				<li class="sidebar-list">
					<a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
						<i data-feather="box"></i>
						<span>Termékek</span>
					</a>
					<ul class="sidebar-submenu">
						<li>
							<a href="/adminlist">Termékek</a>
						</li>

						<li>
							<a href="/cipoAdd">Új Termék hozzáadás</a>
						</li>
					</ul>
				</li>


				


				<li class="sidebar-list">
					<a class="sidebar-link sidebar-title link-nav" href="allproduct">
						<i data-feather="list"></i>
						<span>Felhasználói Főoldal</span>
					</a>
				</li>

				

				

				<li class="sidebar-list">
					<a class="sidebar-link sidebar-title link-nav" href="/adminregister">
						<i data-feather="plus-circle"></i>
						<span>Regisztráció</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="right-arrow" id="right-arrow">
			<i data-feather="arrow-right"></i>
		</div>
	</nav>
</div></div>
